# Ignore Python virtual environment
.venv/
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore log files
*.log
logs/

# Ignore system files (Mac & Windows)
.DS_Store
Thumbs.db

# Ignore Streamlit and Plotly cache
.streamlit/
.plotly/

# Ignore environment and dependency files
env/
*.env
*.DS_Store

# Ignore large dataset files (optional)
*.csv
*.xlsx
*.h5
*.pkl
*.json

# Ignore IDE settings
.vscode/
.idea/
